
<% if @display_ads %>
  <div class="large-rectangle-gray-blue-dark">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-5283251584689528";
      /* large_rectangle_gray-blue-dark */
      google_ad_slot = "9633516371";
      google_ad_width = 336;
      google_ad_height = 280;
      //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
<% end %>