
<% if @display_ads %>
  <div class="links-horizontal-large">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-5283251584689528";
      /* links_horizontal_large_grey-blue */
      google_ad_slot = "2389451178";
      google_ad_width = 728;
      google_ad_height = 15;
      //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
    <!-- grey-blue -->
  </div>
<% end %>