//
// show
//
%script#report-template{:type => "text/template"}
  .report
    .vote
      <a class='up' name_seo="<%= name_seo %>" href='javascript:void(0);'><img src='/assets/icons/32x32/thumbs_up.png' width=16 alt='thumbs up' /></a>
      <a class='down' name_seo="<%= name_seo %>" href='javascript:void(0);'><img src='/assets/icons/32x32/thumbs_down.png' width=16 alt='thumbs down' /></a>

    %h2 <a href='javascript:void(0)' name_seo="<$= name_seo %>" ><%= name %></a>
    .meta By <%= username %> on <%= created_at %>
    
    .subhead <%= subhead %>
    <img src="<%= photo_url %>" alt="<%= name %>" />
    .descr <%= descr %>

// showmap
%script#reports-showmap-template{ :type => 'text/template' }
  <div id="reports_show_canvas" x="<%= x %>" y="<%= y %>" name_seo="<%= name_seo %>"></div>

//
// show small
//
%script#report_small-template{:type => "text/template"}
  .report-small
    .vote
      <a class='up' name_seo="<%= name_seo %>" href='javascript:void(0);'><img src='/assets/icons/32x32/thumbs_up.png' width=16 alt='thumbs up' /></a>
      <a class='down' name_seo="<%= name_seo %>" href='javascript:void(0);'><img src='/assets/icons/32x32/thumbs_down.png' width=16 alt='thumbs down' /></a>

    %h3 <a class='show-report' href='javascript:void(0)' name_seo="<%= name_seo %>" ><%= name %></a>
    .meta By <%= username %>
    <div class='bg-image'><img src="<%= photo_url %>" alt='' /></div>
    .subhead <%= subhead %>

//
// ??
//
%script#reports-template{:type => "text/template"}
  .reports
    .items