
%script#report-template{:type => "text/template"}
  .report
    %h2 <a href='javascript:void(0)' name_seo="<$= name_seo %>" ><%= name %></a>
    .meta By <%= username %> on <%= created_at %>
    .subhead <%= subhead %>
    <img src="<%= photo_url %>" alt="<%= name %>" />
    .descr <%= descr %>

%script#report_small-template{:type => "text/template"}
  .report-small
    %h3 <a class='show-report' href='javascript:void(0)' name_seo="<%= name_seo %>" ><%= name %></a>
    .meta By <%= username %>
    <img src="<%= photo_url %>" alt='<%= name %>' />
    .subhead <%= subhead %>

%script#reports-template{:type => "text/template"}
  .reports
    .items