
%script#sites_newsitems-template{:type => "text/template"}
  .newsitems
    Newsitems
    <% _.each(newsitems, function(item) { %>
    .item
      <a href="<%= item.url %>"><%= item.name %></a>
    <% }) %>
    
%script#sites_newsitem-template{:type => "text/template"}
  .item
    Newsitem