
%script#user-template{:type => "text/template"}
  .user
    %h2 <a href='javascript:void(0)' username="<$= username %>" ><%= name %></a>
    <img src="<% photo_url %>" alt="<% name %>" />

%script#user_small-template{:type => "text/template"}
  .user-small
    %h3 <a class='show-user' href='javascript:void(0)' username="<%= username %>" ><%= name %></a>

%script#users-template{:type => "text/template"}
  .users
    %h2 Users
    .items