

%script#venues-template{:type => "text/template"}
  .list-of
    %h2 Venues
    .items


%script#venue-template{:type => "text/template"}
  .venue
    %h2 <a class="<%= name_seo %>" href='javascript:void(0);'><%= name %></a>

%script#venue_small-template{:type => "text/template"}
  .venue-small
    %h3 <a href='javascript:void(0);' class="show-venue" name_seo="<%= name_seo %>"><%= name %></a>


