


%script#videos-template{:type => "text/template"}
  .videos
    %h2= t('videos.list')
    .items

%script#video-template{:type => "text/template"}
  .video
    %h2 <%= name %>
    <iframe id="ytplayer" type="text/html" width="640" height="390"
    src="http://www.youtube.com/embed/<%= youtube_id %>?autoplay=1&origin=http://piousbox.com"
    frameborder="0"/>

%script#video_small-template{:type => "text/template"}
  .item
    %h3 <a class='show-video' youtube_id='<%= youtube_id %>' href='javascript:void(0);'><%= youtube_id %></a>
    <img src="http://img.youtube.com/vi/<%= youtube_id %>/1.jpg" alt='' />
    %ul.tags
      %li tag 1

