
@import 'vars'

.Lorganizer
  ul.main-menu
    list-style-type: none

    li
      position: relative
      display: inline
      line-height: $logo
      height: $logo

      a
        padding: 10px

      ul
        display: none
        position: absolute
        left: -99999px
          
    .people
      display: none
        
  .mini-header
    .main-menu
      float: left
        
    .logo
      display: none
        
    .login-register
      float: right
      line-height: 30px
      padding-right: 5px
        
    .sign-out
      display: none