
@import 'vars'

.Lorganizer        
  .mini-header

    ul.main-menu
      float: left
      list-style-type: none

      li
        position: relative
        display: inline
        line-height: $logo
        height: $logo

        a
          padding: 10px

        ul
          display: none
          position: absolute
          left: -99999px
          
    .people
      display: none
        
    .logo
      display: none
        
    .login-register
      float: right
      line-height: 30px
      height: 30px
      padding-right: 5px
        
      li
        list-style-type: none
          
    .sign-out
      display: none
        