

%ul.menu
  %li= link_to 'Destroy Tags, & Reports', destroy_tags_reports_path, :method => :delete, :confirm => t('g.confirm')

%ul.menu
  %li= link_to 'Articles', manager_articles_path
  %li= link_to 'Tags', manager_tags_path