
%h2
  = t('manager.tags.list')
  = link_to '[+]', new_manager_tag_path

%ul
  - @tags.each do |t|
    %li
      = link_to t.name, manager_tag_path(t)
      = link_to '[~]', edit_manager_tag_path(t)
  




