
@import 'vars'

body
  color: #303030
  font-family: arial
  font-size: 16px
  margin-top: 0

a, h3
  color: #0066cc

h2
  font-size: 3em

h3
  font-size: 2em

#header,
#content,
#footer
  clear: both
  margin: 0 20px

#header
  margin: 20px
  min-height: 100px

  img
    margin-right: 10px

h1
  height: 0
  text-indent: -9999px

h2
  margin-left: 30%px

img
  float: left
  max-width: 100%

#logo
  float: left
  width: 20%

.new a
  float: left
  height: 61px
  margin-right: 10px
  text-indent: -9999px
  width: 60px

#content h3
  background-color: #fff
  padding: 5px
  border-left: 5px solid #c2c2c2
  margin: 10px 0

.next
  background: url(/assets/organizer/sprite2.png) no-repeat scroll -16px -124px transparent
  text-indent: -9999px


ul.new
  clear: both

body#users_organizer
  .crud
    fieldset
      clear: both

      input,
      a,
        float: left
      a
        margin-left: .5em

div#file_upload
  border: 1px solid red


