
@import 'vars'

.pagination
  clear: both
  .active
    border-left: 1px solid #c2c2c2
  li
    border-bottom: 1px solid #c2c2c2
    border-right: 1px solid #c2c2c2
    border-top: 1px solid #c2c2c2
    float: left
    font-weight: bold
    line-height: 20px
    padding: 10px 0
    text-align: center
    width: 40px


body.index
  .title
    // display: none

    h1
      font-size: 1.6em
      display: inline
      padding: 0 $margin