
@import 'vars'

$checkbox_size: 30px

.pagination
  clear: both
  .active
    border-left: 1px solid #c2c2c2
  li
    border-bottom: 1px solid #c2c2c2
    border-right: 1px solid #c2c2c2
    border-top: 1px solid #c2c2c2
    float: left
    font-weight: bold
    line-height: 20px
    padding: 10px 0
    text-align: center
    width: 40px

#reports_new

  input#report_name
    width: 100%

  .descr
    textarea
      height: 400px

  h2
    text-align: center
    margin: $margin auto

  .check
    position: relative

    input[type=checkbox]
      width: $checkbox_size
      height: $checkbox_size
      position: absolute
      top: 0
      left: 0
      margin: 0

    label
      margin-left: $checkbox_size + $margin
      height: $checkbox_size
      line-height: $checkbox_size

  .location
    display: none

  h3.addToggle
    margin: 3*$margin $margin+$checkbox_size

  .captcha p
    display: none

  .captcha
    float: left

  .sign-in,
    float: left
    margin-left: $margin
    height: 130px
    line-height: 130px
    padding-left: 20px
    width: 270px
    background: #cecece
    margin-left: 20px
    border-left: 10px solid gray

  .actions
    clear: both
    margin: 3*$margin auto
    text-align: center

  input[type=submit]
    font-size: 1.6em
    


