

%ul.menu
  %li= link_to t('users.scratchpad'), "javascript:void(0);", :class => :scratchpad
  %li
    = link_to t('days.list'), "javascript:void(0);", :class => :days_index
    // = js_link_to image_new, :days_new_show
  