
%ul.secondary-menu
  %li.new-report= link_to t('reports.new'), new_report_path
  %li.new-photo= link_to t('photos.new'), new_photo_path
  %li.new-gallery= link_to t('galleries.new'), new_gallery_path
  %li.new-venue= link_to t('venues.new'), new_venue_path
