
.github-content
  %h3 Git Accounts
  %p I have several Git accounts on and off github. I like to keep some of my code private on Bitbucket. I highly recommend bitbucket for private unlimited git hosting. My public repos are:
  %ul.bold.block
    %li= link_to @user.github_path, @user.github_path
    %li= link_to 'http://github.com/Piousbox-cookbooks', 'http://github.com/Piousbox-cookbooks'
  %p For some explanation of my github activities please see:
  %ul
    %li= link_to 'https://coderwall.com/piousbox', 'https://coderwall.com/piousbox'
    %li= link_to 'http://osrc.dfm.io/piousbox', 'http://osrc.dfm.io/piousbox'
      
