
.users
  - @users.each do |u|
    .item
      = link_to u.username, user_resume_path(u.username)
      - if u.profile_photo.blank?
        = link_to image_missing, user_path(u.username)
      - else
        = link_to image_tag( u.profile_photo.photo.url(:thumb) ), user_path(u.username)