
.reports-list
  - @reports.each do |report|
    = render 'reports/item', :report => report

  .clear

  = paginate @reports, :param_name => :reports_page

  - if 0 == @reports.length
    = t('reports.none')

.c
