
.about-us
  %h2 About Infinite Shelter / Travel Guide

  %p We are a small group of engineers operating from San Francisco Bay Area.

  %p We belong to a distributed team from around the world, who have a passion for great content and great software.

  %p
    The travel guide is intent on connecting travelers to their destinations and other travelers.
    We believe that to know more than one environment is good, and that traveling makes you a better person.
    We believe that the best people are internationals and travelers. This website is intended for these people to help find each other.

= render 'disqus'
