
-# = render 'manager/footer'    
%hr

#spec_runner_pqf
  
= javascript_include_tag "spec_runner.js", "m", "application"
= stylesheet_link_tag "spec_runner.css"

= render 'template/all'
= render 'init_maps'

.ids{:cityname => "San_Francisco"}
.Lcities
.right-menu
  %ul
    %li
      %a.active 1
    %li
      %a.active 2
    %li
      %a.active 3

#log_main
  %div
    