
a
  color: red

body#manager_galleries_show,
body#galleries_show,
  .item
    border: 1px solid red
    margin: 1em
    padding: 1em
    float: left

body
  background: #cecece
  margin: 0
  padding: 0

  .manager
    width: 986px
    background: #fcfcec
    padding: .5em      

    #application__footer
      margin-top: 1em
      border-top: 3px solid yellow
      clear: both

      > ul
        float: left
        margin: 1em 0 0 1em
        padding: .2em 0 0 0
        border-top: 5px solid #cecece
        list-style-type: none

        li
          background: yellow
          margin: 0 0 .2em 0
          padding: .2em 1em


form .name
  font-size: 140%

textarea.tinymce
  width: 500px
  height: 500px