


body#manager_galleries_show,
body#galleries_show,
.manager,
  .item
    border: 1px solid red
    margin: 1em
    padding: 1em
    float: left



body
  .manager
    #application__footer
      border-top: 3px solid yellow
      clear: both

form .name
  font-size: 140%

textarea.tinymce
  width: 500px
  height: 500px

.manager #application__footer
  > ul
    float: left
    margin: 1em 0 0 1em
    padding: .2em 0 0 0
    border-top: 5px solid #cecece
    list-style-type: none

    li
      background: yellow
      margin: 0 0 .2em 0
      padding: .2em 1em


