
@import 'vars'

#manager_galleries_index
  .search
    float: right
      
  .item
    .tag
    .site
    .delete

  .galleries-index
    li
      clear: both
        
#manager_galleries_show
  .gallery-photos-thumb
    .item
      float: left
      margin: 0 5px 5px 0
      padding: 5px
       
  .gallery-photos
    text-align: center

    .item
      margin-bottom: 1em
        
      > a
        float: left
          
      form
        float: right
          
  .item
    padding: 1em
    border: 1px solid red

.manager-galleries-index-item
  border: 1px dashed green
  margin-bottom: 1em
  padding: .6em
    