

%h1 ISh

%p Infinite Shelter is a content management system.

%ul
  %li
    = image_tag 'https://s3.amazonaws.com/ish-assets/icons/128x128/photo.png'
    %p Manage Photos

  %li
    = image_tag 'https://s3.amazonaws.com/ish-assets/icons/128x128/video.png'
    %p Manage Videos

  %li
    = image_tag 'https://s3.amazonaws.com/ish-assets/icons/128x128/text.png'
    %p Manage Text

