

%h1 ISh

%p Infinite Shelter is a content management system.

.three
  %ul
    %li
      = image_tag 'https://s3.amazonaws.com/ish-assets/icons/128x128/photo.png'
      .a Manage Photos

    %li
      = image_tag 'https://s3.amazonaws.com/ish-assets/icons/128x128/video.png'
      .a Manage Videos

    %li
      = image_tag 'https://s3.amazonaws.com/ish-assets/icons/128x128/text.png'
      .a Manage Text

