
.venues-list
  - @venues.each do |venue|
    .item
      %h3= link_to venue.name, venue_path(venue.name_seo)
      - if venue.profile_photo.blank?
        = image_missing
      - else
        = link_to image_tag(venue.profile_photo.photo.url(:thumb)), venue_path(venue.name_seo)
      .subhead= venue.descr
      
      .c