
.title
  %h1= t('tags.list')

.feature-tags-list
  - @feature_tags.each do |tag|
    .item= render 'tags/item', :tag => tag

%hr

.tags-list
  - @tags.each do |tag|
    .item= render 'tags/item', :tag => tag