
-# tags/show

.span-24.center
  %h1= @site.title

.span-12
  = render 'reports/list', :reports => @reports, :n_ads => 3

.span-12.last
  = render 'galleries/list', :galleries => @galleries

  -# = render 'ads/skyscraper_gray-blue'

