

%h2= t('cac.about')

.links
  - @tag.reports.each do |report|
    %li= link_to report.name, report

.overview
  
  = image_tag 'cac.jpg', :class => :logo

  = simple_format @tag.descr

.our-process
  %h3 Areas of Expertise
  %ul
    %li.first
      Tier 1
      %strong Infrastructure
      %p Provisioning servers, monitoring, deploying load balancers and proxies, performing security audits, clustering databases.
    %li
      Tier 2
      %strong App Layer
      %p We develop applications using Ruby or Python. We support and maintain applications written in Ruby, Python, PHP, and Java.
    %li
      Tier 3
      %strong Presentation
      %p Semantic, mobile, modern, compliant presentation layer marked in most modern styles.
    %li.last
      Step 4
      %strong Support
      %p We think of all clients as long-term clients. We provide continuous support for your business.
