

%h2 Computational Arts Corp.: About Us

.overview
  
  = image_tag 'cac.jpg' # %img{:alt => "CAC Team", :src => "http://www.placehold.it/430x210"}

  %p Born in Chicago IL, we are no stranger to midwestern hospitality. Currently operating from San Francisco CA, we are no stranger to modern web development technology. Together, these qualities make us an exceptional company to do business with.
  %p We love helping small and medium-sized businesses achieve their goals. We automate processes. We are good at what we do.

.our-process
  %h3 Areas of Expertise
  %ul
    %li.first
      Tier 1
      %strong Infrastructure
      %p Provisioning servers, monitoring, deploying load balancers and proxies, performing security audits, clustering databases.
    %li
      Tier 2
      %strong App Layer
      %p We develop applications using Ruby or Python. We support and maintain applications written in Ruby, Python, PHP, and Java.
    %li
      Tier 3
      %strong Presentation
      %p Semantic, mobile, modern, compliant presentation layer marked in most modern styles.
    %li.last
      Step 4
      %strong Support
      %p We think of all clients as long-term clients. We provide continuous support for your business.

.technology
  %h3 Technology & Software Stacks
  %p We use the following technologies in our process.

  .items
    .item
      %h4 Infrastructure Providers
      %ul
        %li Amazon Web Services (AWS) - preferred provider
        %li Google App Engine
        %li Heroku
        %li Rackspace
        %li Engine Yard

    .item
      %h4 OS's
      %ul
        %li Ubuntu is my preferred server and development OS

    .item
      %h4 App Servers
      %ul
        %li Nginx
        %li Unicorn - preferred
        %li Passenger
        %li Tomcat
        %li Apache

    .item
      %h4 Application Layer Languages
      %ul
        %li PHP
        %li Ruby - preferred
        %li Python
        %li Java SE, EE

      - proc do # hidden
        %h3 Source Control
        %ul
          %li SVN
          %li Git - Github, Bitbucket

        %h3 Bug Tracking & Project Management
        %ul
          %li Jira, Confluence
          %li Trac

    .item
      %h4 Frameworks
      %ul
        %li CakePHP
        %li Rails - preferred
        %li Django
        %li Spring

    .item
      %h4 Deployment & Monitoring
      %ul
        %li Devops Chef
        %li Capistrano
        %li Nagios

    .item
      %h3 Databases
      %ul
        %li Mongodb - preferred
        %li PostgreSQL
        %li MySQL

    .item
      %h4 Load Balancers & Reverse Proxies
      %ul
        %li Nginx - preferred
        %li Apache
        %li HAproxy


= render 'contact'
