
#content
  .container
    %h2
      %span.container Services

    .services
      .item
        %h3= link_to t('g.supported_hosting'), '#hosting'
        %p Confused by the array of hosting options? We provide Ruby hosting at a reasonable rate.  
        %p Our infrastructure provisioning tools are pure Ruby (Devops Chef, Capistrano). 
        %p Internally we use Amazon hosting and can setup Rackspace hosting for your organization upon request.
        
      .item
        %h3 Visual Design
        %ul
          %li
            We can act as graphic and web designers providing services such as
            %ul
              %li PSD mockups
              %li PSD to HTML/CSS conversion

      .item
        %h3 Infrastructure Provisioning
        %ul 
          %li
            Infrastructure services include
            %ul
              %li Migrating from Relational to Non-relational datastores (MySQL to MongoDB migration, including redesign of the model layer)
              %li Installing software - We can help you install most software packages, such as Trac, Mediawiki, and complex Java systems (e.g. Alfresco).
              %li Devops Chef development
              %li General Linux Admin
              %li Apache HTTP server configuring
              %li Deploying ready apps
              %li Amazon Web Services (AWS) consulting

          
      .item
        %h3 Web Development
        %p Software development is our core specialty. We can built custom software to fit your company needs.
        %ul
          %li Small Sites - 1-10 pages, with or without a database, with or without a control panel, static or dynamic.
          %li Large Sites - thousands of pages, control panel, clustered database, exposing and API, integrating with legacy services

      .item
        %h3 One-on-One Tutoring
        %p 
          If you are a developer and got stuck on a particular project, we can provide tutoring and support. We help you push your project over a bump, 
          at the same time as increasing your knowledge of the stack. You save time and learn - a win-win situation.
      

      
          

