

#content
  .container

    %h1= t('g.technology')

    %h2 Software Stacks
    %p
      Our technology of choice at the moment (Sept 2012) is Ruby on Rails and related. However, I have experience using other software stacks.
      Below is a detailed list categorized by tier.

    