
#subscriptions__form

  = form_for @subscription do |f|
    %fieldset
      = f.text_field :name, :placeholder => t('form.name')
      = f.text_field :email, :placeholder => t('form.email')
      = f.submit t('form.subscribe')
