



@import 'vars'

a
  color: red
  font-weight: bold
  text-decoration: none

body#welcome_homepage li.homepage,
body#welcome_about li.about,
  border-bottom: $small solid black

.container
  width: $full_width
  margin: auto
  position: relative

.clear
  clear: both !important
.hide
  display: none !important




#welcome_homepage
  .sidebar
    // position: absolute
    width: $sidebar
    // border-right: 1px solid $gray
    float: left

  .main-content
    margin-left: $medium
    float: left
    width: $full_width - $sidebar - $medium

    h2
      margin: 0

    .item
      margin-bottom: 2em

#reports_show
  .sidebar
    position: absolute
    right: 0

  .main-content
    margin-right: $sidebar + $small




.pagination
  margin: 1em auto

  a,
  .current,
    padding: $small

  a
    border: 1px solid red