
  

.content
  text-align: center
  margin-top: 1em

  ul
    margin: auto

    li
      list-style-type: none
      display: inline
      position: relative

      p 
        width: 400px
        display: inline
        


#main_footer
  clear: both
  margin-top: 100px

.hide
  display: none !important

#ish_home
  .three
    margin-left: auto
    margin-right: auto
    margin-top: 2em

    width: 820px

  ul
    text-align: center
    padding: 0


    li
      display: inline-block
      margin: 0
      padding: 0

      a
        display: block
