



@import 'vars'

a
  color: red
  font-weight: bold
  text-decoration: none

.container
  width: $full_width
  margin: auto
  position: relative

.sidebar
  width: 200px
  right: 0
  background: #cecece
  float: left

.main-content
  margin-right: $sidebar + $small
  margin-left: 220px

  h2
    margin: 0
    padding: 0

  .item
    margin-bottom: 1em

.pagination
  margin: 1em auto

  a,
  .current,
    padding: $small

  a
    border: 1px solid red



body#galleries_show
  .items
    .item
      float: left


.footer
  clear: both

  ul
    float: left
    marign-right: 2em

