
%h1 My Reports

%ul.block
  - @reports.each do |report|
    %li
      = link_to '[~]', edit_report_path(report)
      
      - if report.is_done
        [+done]
      - else
        [-done]
        
      - if report.is_public
        [+public]
      - else
        [-public]
        
      = link_to report.name, report_path(report.name_seo)
