

.container
  = form_for Photo.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
    = f.hidden_field :gallery_id, :value => params[:gallery_id]
    = f.file_field :do_upload, :id => 'file_upload'

:javascript

  $(function() {
    $('#file_upload').uploadify({
      'swf'      : '/assets/uploadify.swf',
      'uploader' : '/photos/do_upload/#{params[:gallery_id]}'
      // Put your options here
    });
  });