
<div class='item'>
  <b>AKQA</b><br />
  <b><a href="http://akqa.com">http://akqa.com</a></b><br />
  <em>2011-08 - present</em><br />

  <p>As a software engineer at AKQA, I have contributed to numerious projects, existing codebases as well as new, in teams of 5-20 people.</p>

  <p>I have contributed to the following projects:</p>
  <ul>
    <li><a href="http://bit.ly/QoVJkH">http://bit.ly/QoVJkH</a></li>
    <li><a href="http://www.visabusinessnetwork.com/">http://www.visabusinessnetwork.com/</a></li>
    <li><a href="http://progress.audiusa.com/">http://progress.audiusa.com/</a></li>
    <li><a href="http://weeklyad.target.com/">http://weeklyad.target.com/</a></li>
  </ul>


  <p>I have worked for the following clients:</p>
  <ul>
    <li><b>Audi, Visa, Target, Old Navy</b></li>
  </ul>

  <p>In the course of development I use the following technologies:</p>
  <ul>
    <li>
      <b>Clouds:</b>
      <ul>
        <li>Amazon Web Services (AWS) including EC2, S3, VPC</li>
        <li>Rackspace, Engine Yard, Joyent</li>
      </ul>
    </li>

    <li><b>OSs:</b> Linux, BSD</li>
    <li><b>App servers:</b>
      <ul>
        <li>Unicorn, Passenger</li>
      </ul>
    </li>

    <li><b>Monitoring:</b> Nagios</li>
    <li><b>Load balancers & proxies:</b> Apache, HAproxy</li>
    <li><b>Infrastructure/deployment:</b> Capistrano, Opscode Chef</li>
    <li><b>Databases:</b> MySQL, MongoDB</li>
    <li><b>Application Layer:</b> Ruby on Rails</li>
    <li><b>Source control:</b> Git, SVN</li>
    <li><b>Presentation layer:</b> HTML/CSS, JS, HTML5</li>
    <li><b>APIs:</b> Has exposed API services for various projects; Google Maps API, Facebook API</li>
    <li><b>JavaScript:</b> Jasmine, Backbone, Node</li>
    <li><b>Best Practices:</b> Scrum, XP, Agile, TDD, BDD</li>
  </ul>

</div>