
<div class='item'>
  <b>AKQA</b><br />
  <b><a href="http://akqa.com">http://akqa.com</a></b><br />
  <em>2011-08 - present</em><br />
  <b>Software Engineer</b>

  <ul>
    <li>Maintained and expanded on existing codebases, performed bug fixes and updates</li>
    <li>Assisted in code reviews, deployments, and establishing naming conventions</li>
    <li>Worked with technical managers, other developers and the creative department 
      to bring projects from whiteboard to completion</li>
  </ul>

  <p>Contributed to the following projects / clients:</p>
  <ul>
    <li><a href="http://bit.ly/QoVJkH">http://bit.ly/QoVJkH</a> (Google)</li>
    <li><a href="http://www.visabusinessnetwork.com/">http://www.visabusinessnetwork.com/</a> (Visa)</li>
    <li><a href="http://progress.audiusa.com/">http://progress.audiusa.com/</a> (Audi)</li>
    <li><a href="http://weeklyad.target.com/">http://weeklyad.target.com/</a> (Target)</li>
  </ul>

  <p>Using the following technologies:</p>
  <ul>
    <li>AWS, EC2, S3, VPC, Rackspace, Engine Yard, Joyent</li>
    <li>Linux, BSD, Nagios, Apache, HAproxy, Capistrano, Opscode Chef</li>
    <li>Ruby on Rails, Unicorn, Passenger, MySQL, MongoDB, Git, SVN, HTML/CSS, HTML5, JS, Jasmine, Backbone, Node</li>
    <li>Google Maps API, Facebook API, Scrum, XP, Agile, TDD, BDD</li>
  </ul>

</div>