


<div class="item first">
  <h4>Cruisewise</h4>
  <b><a href="http://www.cruisewise.com/">http://www.cruisewise.com</a></b><br />
  <em>2011-06 - 2011-07</em><br />
  <b>Software Engineer</b>

  <p>Developed an internal tool for 
    screen-scraping content. Wrote a web crawler that traversed a Java-based CMS and put the content into the
    form suitable for the CMS being developed.</p>

  <ul><li>Using <b>Ruby, Rails, Rack, Selenium, TDD</b> to answer technical goals.</li></ul>
</div>

<div class="item">
  <h4>Computational Arts Corp.</h4>
  <b><a href="http://computationalartscorp.com">http://computationalartscorp.com</a></b><br />
  <em>2009-03 - present</em><br />
  <b>Founder and CEO</b>

  <ul>
    <li>Managed a distributed team of 16 people</li>
    <li>Facilitated integration of development effort, design effort, and content accumulation effort.</li>
    <li>Conducted project management from whiteboard to completion for several projects.</li>
    <li>Performed tasks on multiple levels: accounting, legal, HR, marketing, project management, and web development.</li>
  </ul>
</div>

<div class="item">
  <h4>Mediatec Publishing Inc.</h4>
  <b><a href="http://clomedia.com">http://clomedia.com</a></b><br />
  <em>2009-08 – 2011-03</em><br />
  <b>Web Developer</b>

  <p>Performed business analysis to answer stakeholders' needs. 
    Made a range of improvements to the developers' environments, including:</p>
  <ul>
    <li>introduction of test-driven development & iterative development</li>
    <li>switching from Dreamweaver to IDEs (Netbeans and Eclipse)</li>
    <li>introduction of version control (SVN)</li>
  </ul>

  <p>Made major contributions to rewriting and modernizing company applications:</p>
  <ul>
    <li>Introduced object-relational mapping (ORM) layer</li>
    <li>Implemented an extensive data migration strategy</li>
    <li>Automated deployments (converted from FTP-based to SVN-based deployments)</li>
    <li>Suggested and implemented the use of an MVC (CakePHP)</li>
  </ul>

  <ul><li>Using <b>Python, Java, bash, sch, PHP</b></li></ul>

</div>

<div class="item">
  <h4>Reduced Printing</h4>
  <b><a href="http://reducedprinting.com">http://reducedprinting.com</a></b><br />
  <em>2009-05 - 2009-08</em><br />
  <b>Web Developer</b>

  <ul class="hide" date="20121017" >
    <li>Developed and maintained sites using Joomla. Wrote HTML/CSS, JS, and PHP for production websites</li>
    <li>Performed Linux admin, installation, and deployment tasks</li>
  </ul>
  
  <ul>
    <li>Worked with the stake holders to refine technical requirements</li>
    <li>Performed business analysis for expanding an online business (in print media industry)</li>
    <li>Performed business assessment and analysis for starting a new online business (in fashion industry)</li>
    <li>Effectively communicated managerial decisions to the designers team</li>
    <li>Was instrumental in setting up development environments</li>
    <li>Facilitated integration of design and development efforts in a 5-persons team. Was responsible for the team meeting the stakeholders' objectives.</li>
  </ul>
   
</div>

<div class="item hide" date='20121017' >
  <h4>Shei Magazine</h4>
  <b><a href="http://sheimagazine.com">http://sheimagazine.com</a></b><br />
  <em>2008-09 - 2009-02 </em>

  <ul>
    <li>Contributed to creation of the website using HTML/CSS and JavaScript.</li>
  </ul>
</div>

<div class="item" date="20121017" >
  <h4>NACLO</h4>
  <b><a href="http://www.naclo.cs.cmu.edu/">http://www.naclo.cs.cmu.edu</a></b><br />
  <em>2008-09 - 2009-04</em>

  <ul>
    <li>Composed questions for the linguistic olympiad</li>
    <li>Translated a number of resources from Russian to English</li>
    <li>Managed some online and off-line resources 
      (websites, data sets, users, corpora)</li>
  </ul>
  
</div>

