

<div class="item">
  <b>Cruisewise</b><br />
  <b><a href="http://www.cruisewise.com/">http://www.cruisewise.com/</a></b><br />
  <em>2011-06 - 2011-07</em>

  <p>Run a short-term contract for Cruisewise. For this role I developed an internal tool for 
    screen-scraping content. The web crawler I wrote traversed a Java-based CMS and put the content into a database, 
    in a new form suitable for the CMS being developed in-house.</p>

  <p>Technology used:</p>
  <ul><li><b>Ruby, Rails, Rack, Selenium, TDD</b></li></ul>
</div>



<div class="item">
  <b>Veret Media</b><br />
<b><a href="http://veretmedia.com/">http://veretmedia.com/</a></b><br />
Dates!!

<p>descr!!!</p>
</div>









<div class="item">
Computational Arts Corp.
http://computationalartscorp.com
</div>

<div class="item">
Mediatec Publishing Inc.
http://mediatecpub.com
</div>

<div class="item">
Reduced Printing
http://reducedprinting.com
</div>

<div class="item">
Shei Magazine
http://sheimagazine.com
</div>

<div class="item">
NACLO
http://www.naclo.cs.cmu.edu/
</div>


<div class="item">
Additionally, I have experience with the following languages:
 * Python, Java, bash, sch, R, PHP, 
</div>