
-# manager/sites/menu
.sites-menu
  %a{ 'data-toggle' => 'dropdown', :class => 'dropdown-toggle' }
    Sites
    %span
  %ul.dropdown-menu
    - @sites.each do |site|
      %li= link_to "#{site.domain} #{site.lang}", manager_site_path(site)
   