

@import 'vars'


#cities_index
  
  #ad_1,
  #ad_2,
    clear: both
    margin: $large auto
    text-align: center

body#cities_index
  .feature-cities
    width: 640px
    height: 460px
    margin-left: auto
    margin-right: auto

    .city
      float: left
      margin-right: 20px
      width: 200px
      margin-bottom: 20px

      img

      *
        margin-right: auto
        margin-left: auto
        line-height: 20px

    .city:nth-child(3n)
      margin-right: 0

  .feature-reports
    clear: both
    border: $border_width solid grey
    padding: 1em
    background: $light_bg

    .item
      clear: both
      margin-bottom: 2em
      position: relative

      h3
        margin: .4em 0
        font-size: 1.2em

      > img
        float: left
        margin: 0 10px 10px 0

      .meta
        
      .subhead
        min-height: 90px

  ul.menu-secondary
    margin: 0
    padding: 0

    li
      margin: 0
      padding: 0
      display: inline
      list-style-type: none
      height: $menu_secondary_height
      line-height: $menu_secondary_height

      border: 2px solid gray
      padding: 10px
      float: left
      background: #dedede

    .most-interesting
      -moz-border-top-left-radius: 15px
      border-top-left-radius: 15px
      // -moz-border-bottom-left-radius: 15px
      // border-bottom-left-radius: 15px
      background: $light_bg
      border-bottom: 0

    .my-city
      border-left: 0
      border-bottom: 0

    .customize
      border: 0
      background: transparent
      line-height: $menu_secondary_height + 2 * $border_width
      background: url('/assets/icons/24x24/configure.png') left center no-repeat
      padding-left: 36px
      margin-left: 4px

  .ad-leaderboard
    clear: both
    margin: 1em auto 1em auto

  .all-cities
    position: relative
    height: 400px
    width: 720px
    clear: both

    ul
      list-style-type: none
      position: absolute
      left: 720px
      top: 0
      width: 180px
      height: 400px
      overflow: auto

      margin: 0
      padding: 0

      li
        margin: 0
        padding: 0

    #cities_index_canvas
      clear: both
      width: 700px
      height: 400px
      background: yellow

  .footer
    height: 200px
