
@import 'vars'

#cities_index

  .cities-features
    margin-top: $margin
    @extend .span-24
    @extend ._feature_list

    .wrapper
      @extend ._wrapper
      @extend .center

    img
      display: block

    .item
      @extend .span-6


    .item:nth-child(4n)
      @extend .last

    .item:nth-child(4n+1)
      clear: left

  ul.menu-secondary
    margin: 0
    padding: 0

    li
      margin: 0
      padding: 0
      display: inline
      list-style-type: none
      height: $menu_secondary_height
      line-height: $menu_secondary_height

      border: 2px solid gray
      padding: 10px
      float: left
      background: #dedede

    .most-interesting
      -moz-border-top-left-radius: 15px
      border-top-left-radius: 15px
      // -moz-border-bottom-left-radius: 15px
      // border-bottom-left-radius: 15px
      background: $light_bg
      border-bottom: 0

    .my-city
      border-left: 0
      border-bottom: 0

    .customize
      border: 0
      background: transparent
      line-height: $menu_secondary_height + 2 * $border_width
      background: url('/assets/icons/24x24/configure.png') left center no-repeat
      padding-left: 36px
      margin-left: 4px

  .ad-leaderboard
    clear: both
    margin: 1em auto 1em auto

  .footer
    height: 200px

  .ad-one
    text-align: center
    margin-left: auto
    margin-right: auto

.Lcities,
.Lapplication,

  .home-ad
    margin-left: auto
    margin-right: auto
    text-align: center


  .all-cities
    clear: both
    position: relative

    #cities_index_canvas
      width: 100%
      height: 400px

    ul
      list-style-type: none
      height: 400px
      width: 220px
      overflow: auto
      text-align: left
      margin: $margin

      position: absolute
      right: 0
      top: 0

      li
        margin: 0
        padding: 0
        display: block

    #cities_index_canvas
      clear: both
      width: 700px
      height: 400px
      background: yellow

.Lorganizer
  .all-cities
    position: relative
    height: 400px
    clear: both
    margin: 0 auto 2em auto

    #cities_index_canvas
      clear: both
      width: 440px
      height: 400px
      background: yellow

    ul
      list-style-type: none
      position: absolute
      left: 450px
      top: 0
      width: 190px
      height: 400px
      overflow: auto

      margin: 0
      padding: 0

      li
        margin: 0
        padding: 0


#cities_profile
  .Lapplication
    .map-container
      display: none

    .calendar
      text-align: center

    .masthead
      .inner
        background: #333333
        padding: $margin
        color: white

        ul
          li
            a
              background: white
              padding: $margin/2 $margin

#welcome_home
  .cities-features
    h2
      display: none

