
@import 'vars'

.related
  .galleries
    @extend ._galleries_list

body#galleries_show
  .items
    .item
      float: left

#galleries_index,
#galleries_show,
  .item
    h2
      margin-bottom: $margin

    img
      @extend ._thumb

#galleries_features,
#galleries__index
  padding-top: $large

  h2.section
    margin-top: 0


body#blog_home


  h3.g
    text-align: center
    font-size: 2em
    margin: 3em 0 .4em 0

.gallery-small,
.left-container .gallery,

  h3
    margin-bottom: 4px

  img
    @extend ._thumb


.feature-galleries
  @extend .span-12
  @extend ._feature_list

  .item
    @extend .span-12

  h2
    @extend ._feature_h2

  img
    @extend ._img_small



