

@import 'vars'

.galleries--list

  .item
    margin-bottom: 20px


body#galleries_show
  .items
    .item
      float: left

#galleries_index,
#galleries_show,
  .item
    h2
      margin-bottom: $margin

    img
      @extend ._thumb

#galleries_features,
#galleries__index
  padding-top: $large

  h2.section
    margin-top: 0


body#blog_home


  h3.g
    text-align: center
    font-size: 2em
    margin: 3em 0 .4em 0

.gallery-small,
.left-container .gallery,

  img
    @extend ._thumb


.feature-galleries_trash
  @extend ._feature_list
  @extend .span-12

  .items
    .item
      @extend .span-3

      .wrapper
        @extend ._rounded_corners
        border: 1px solid black
        // padding: 6px 0
        margin: 0 auto
        text-align: center

    .item:nth-child(4n)
      @extend .last
