

@import 'vars'

.galleries--list

  .item
    margin-bottom: 20px


body#galleries_show
  .items
    .item
      float: left



#galleries_features,
#galleries__index
  padding-top: $large

  h2.section
    margin-top: 0