
@import 'vars'
@import 'grid'

._main_header_item
  padding-left: 20px
  padding-right: 20px
  display: inline-block
  line-height: $header_height
  height: $header_height
  color: cyan
  background: #99dede

.Lapplication

  .logo
    @extend .span-3

  .header-ad
    @extend .span-21
    @extend .last


  .main-header
    background: url(/assets/showv/dragon_head_top.jpg)
    padding-top: $margin
    position: relative

    .logo
      background: white
      width: $logo
      height: $logo
      margin: 0 $margin $margin $margin
      padding: $margin / 2

    h1
      @extend .span-24
      clear: both
      display: none
      font-size: 2em
      text-align: center

    ul
      .scratchpad-link
        display: none

    .set-locale
      position: absolute
      top: 44px
      left: 130px

    .main-menu
      clear: both
      background: url('/assets/backgrounds/transparent_70.png')
      @extend .span-24
      @extend .menu
      margin-bottom: 0
      border-bottom: 1px solid #cecece

      li
        border-right: 1px solid white

    .login-register
      position: absolute
      top: 0
      right: 0

      a
        padding: 4px
        background: white

      li
        margin: $margin
        margin-bottom: $margin
        display: block
        text-align: right
        list-style-type: none

    .search
      form
        margin: 0
        padding: 0

        input

        input[type='text']
          width: 200px

        input[type='submit']
          background: white
          padding: 4px 30px 4px 4px
          border: 1px solid #cecece

    .secondary-menu
      clear: both
      @extend .span-24
      @extend ._box
      margin: 0
      padding: $margin/2 0
      border-left: 1px solid white
      background: url('/assets/backgrounds/transparent_70.png')

      li
        padding: 5px
        border-right: 1px solid white

        a
          padding: 5px

      ul
        li
          @extend ._box
          list-style-type: none
          display: inline
          border-right: 1px solid white
          padding: $margin/2 0
          background: #ccccff

          a
            padding: $margin
        
        
  .main-footer
    clear: both
    background: url(/assets/showv/dragon_head_bottom.jpg)
    min-height: 100px
    padding: $margin 0 $logo 0

    .set-locale
      > div
        padding-left: $margin
        margin-right: 0 !important

    .login-register,
    .shtick,
    .set-locale,
    .set-mobile,
    .menu,
      @extend .span-8

    .login-register
      @extend .last

    .shtick > *
      padding: 4px 30px 4px 4px
      background: white

    .login-register
      ul
        li
          margin-right: $margin

    .set-mobile
      @extend .span-8
      margin-left: $margin

      li
        padding: 4px 30px 4px 4px
        background: white


#users_index .main-header .people,
#users_show .main-header .people,
#reports_index .main-header .stories,
#reports_show .main-header .stories,
#galleries_index .main-header .photos,
#galleries_show .main-header .photos,
#cities_index .main-header .cities,
#cities_show .main-header .cities,
  background: $light_bg

// piousbox layout and manager layout
#application__footer
  clear: both

.login-register

  a
    padding: 4px
    background: white

  li
    margin-bottom: $margin
    display: block
    text-align: right
    list-style-type: none


