
@import 'vars'

.Lapplication-mini
  min-height: 100%
  position: relative

  .footer-padding
    display: block
    height: 5em
    clear: both

.mini-header,
.mini-footer,
  background: white
  min-height: $logo_mini
  line-height: $logo_mini

  .logo
    float: left
    width: $logo_mini
    padding-right: $margin_mini

  ul.main-menu
    float: left
    line-height: $logo_mini

.mini-header
  margin-bottom: $margin_mini
  padding-bottom: 4px
  border-bottom: 1px dashed #cecece

  .main-menu
    li
      margin-right: $margin*2

.mini-footer
  clear: both
  margin-top: $margin_mini
  position: absolute
  bottom: 1em
  height: 4em
  border-top: 1px dashed #cecece
  padding-top: 6px

  > *
    @extend .span-8

  > *:nth-child(3n)
    @extend .last

  > *:nth-child(3n + 1)
    @extend .clear

  .set-layout
    li
      margin-right: $margin*2

  .login-register
    li,
    form,
    div,
      display: inline
    