
#ish_home
  .Lish
    margin: 1em auto

    #main_header img,
    p,
    ul,
    h1,
    .ad-leaderboard,
    .footer,
      margin-left: auto
      margin-right: auto
      display: block
      text-align: center

    ul.menu
      text-align: center
      padding: 0

      li
        list-style-type: none
        display: inline-block
        margin: 0
        padding: 0
        position: relative

        p
          width: 400px
          display: inline

        a
          display: block

    .footer

      #set_locale,
      #login_register,
        display: inline-block

    .three
      margin: 4em auto

      width: 820px


#main_footer
  clear: both
  margin-top: 100px


.footer
  margin: 2em auto
  text-align: center
  clear: both

  > *
    display: inline-block


  ul
    text-align: left

    li
      list-style-type: none