
@import 'vars'
$footer_height: 150px

.Lapplication
  margin-bottom: 110px

  .title
    border: 1px solid black
    height: $header_height / 2
    margin: $header_height / 2   $header_height * 2
    
    h1
      display: inline
      padding: $margin + 4
      font-size: 1.4em
      border: 1px solid black
      text-align: center
      height: $header_height
      line-height: $header_height
      width: auto
      margin-top: - $header_height / 4

  .reports--list,
  .users--list,
    width: 50%
  
  .content

  .footer-padding
    height: $main_footer_height
    display: block

body
  background: url('/assets/backgrounds/sky5.jpg')
  margin-top: 0

//
// travel/home
//
.home-footer
  height: 50px
  display: block

ul.list
  li
    display: block