
@import 'vars'

ul.newsitems

  h3
    font-size: 1em
    margin: 4px 0

  h4
    margin: 0

  li
    clear: both
    display: block
    margin-bottom: 1em

  img
    @extend ._thumb


  .Nreport,
  .Ngallery,
  .Nphoto,

    img
      float: left
      margin: 0 $margin $margin 0

body#travel_home .Lapplication ul.newsitems,
.Lmanager ul.newsitems,

  @extend .span-12

  li
    @extend ._wrapper


