
@import 'vars'

$index_border: $border_width solid grey
$index_bg: $light_bg



h2.section,
.big-button,

  clear: both
  text-align: center

.meta
  font-style: oblique

#reports_index,
#reports__features,

  .item
    clear: left

    img
      float: left
      margin: 0 10px 0 0

.share-this,
.rate-this,
.disqus,
.tags .index .items .item,
  margin-top: $large

.pagination
  background: white
  border-left: 10px solid black
  display: inline-block
  padding: 20px

  margin: 1em auto

  a,
  .current,

    padding: $small

  a
    border: 1px solid red


#reports_show,
.reports-show,

  h1
    text-align: center

  .Lblog
    .descr
      margin-bottom: 2em

  .recommended

    .item
      @extend .span-4

    .item:nth-child(6n)
      @extend .last

    .item:nth-child(6n + 1)
      clear: left

  h3
    margin-bottom: 1em

  .descr
    p, ul, ol
      margin-bottom: 1em

    ul, ol
      li
        list-style-type: circle
        margin-left: 1em

.discussion
  padding: 2em

.report-small
  clear: both
  margin-bottom: 2em

  > img
    float: left
    margin: 5px 10px 10px 0

  .subhead
    min-height: 100px

.vote
  float: left

  > a
    margin-right: 4px
    padding: 3px
    display: block

  .up
    border: 1px solid green
    margin-bottom: 3px

  .down
    border: 1px solid red


  .active
    background: gray

.main-feature-reports

  .item
    @extend .span-12

    .wrapper
      @extend ._wrapper
      
      h2,
      > a,
        text-align: center

      h2,
      .descr,
      .subhead,
        margin: $margin 0 0 0

      img
        margin: 0 auto
        @extend ._img_small

      .descr,
      .subhead,
        text-align: left

  .item:nth-child(even)
    @extend .last

  .descr
    float: left
    display: inline
    clear: both
    width: auto

  .more
    clear: both
    text-align: center
    margin: 0 auto
    float: left
    width: 100%

.feature-reports
  @extend .span-12
  @extend .last

  h2
    @extend ._feature_h2
    display: none

  .item
    h3
      margin-bottom: 4px

    img
      float: left
      margin: 0 $margin $margin 0

.reports-list
  h2
    font-size: 1.6em
    margin: $margin 0 .2em

  .item
    margin-top: $margin*3

