
@import 'vars'


._feature_list
  margin-top: $margin * 3

  .item
    h2
      font-size: 1.2em

body#travel_home

  .main-feature-reports

    .item
      @extend .span-12

      a img
        display: block

    .item:nth-child(even)
      @extend .last
      
    .descr
      float: left
      display: inline
      clear: both
      width: auto

    .more
      clear: both
      text-align: center
      margin: 0 auto
      float: left
      width: 100%

.feature-cities
  @extend ._feature_list
  @extend .span-12

  .item
    @extend .span-3

  .item:nth-child(4n)
    @extend .last

.feature-galleries
  @extend ._feature_list
  @extend .span-12

