

@import 'vars'

.users--list
  @extend ._floating_half

.profile-photo
  @extend ._thumb

#users__header
  @extend ._header

  h1
    text-align: left

body#users_sessions_new

  .Lapplication,
    .sign-up,
    .sign-in,
      width: 25%

    .sign-up
      margin-left: 24%

    .sign-in

  .sign-up,
  .sign-in,
    margin-top: 100px
    margin-bottom: 100px
    float: left
    min-height: 200px

    li
      display: block
      clear: both
      padding-top: $margin

  .sign-up
    margin-right: 1%
    border-right: 5px solid white
    width: 49%

  .sign-in

  h2
    font-size: 1.2em

  .row,
  ul li,
    margin: 1em 0

  

.inline-registration
  display: none