

body,
html,
.Lcities,
.Lapplication,
.Lcities .left-container .inner > div,
.Lcities .right-container .inner > div,
  height: 100%
  position: relative

.clear
  clear: both
  float: none !important
.hide
  display: none !important
.show
  display: block
.inline,
.inline *,
  display: inline
.absolute
  position: absolute
.relative
  position: relative
#loading,
.loading,
  display: none

.alert
  border: 1px solid black
  background: #fffd7c
  padding: .5em 1em
  margin-bottom: .5em

.notice,
.message,
  border: 1px solid black
  background: #bceaf6
  padding: .5em 1em
  margin-bottom: .5em

.float-right
  float: right

.height-20
  height: 20px
.height-50
  height: 50px

.center
  text-align: center
  margin-right: auto
  margin-left: auto
