
@import 'vars'

#venues_index
  .Lapplication
    .top-ad
      display: none

.venues-list
  @extend ._list

.venue-links
  ul
    li
      a
        display: block
        background: url('/assets/backgrounds/transparent_40.png')
        margin-bottom: 3px
        padding: $margin/2
        color: white
        font-weight: bold

      a:hover
        background: url('/assets/backgrounds/transparent_40.png') white

#venues_show
  .inner
    background: white

  .masthead
    position: relative

    .close
      position: absolute
      top: $margin
      right: $margin

  .venue-header
    @extend .span-24

    .ch-links
      li
        padding: $margin
        padding-right: $margin*4
        line-height: $logo
        height: $logo

    h2
      clear: both

  .ch-gallery
    @extend .span-24
    margin: $margin 225px

  .four-features
    clear: both
    @extend .span-24

  .rest-features
    clear: both
    @extend .span-24

.feature-venues
  clear: both
  @extend ._feature_list
