
%ul.galleries-set-show-style
  %li= link_to t('galleries.show_mini'), gallery_show_style_path('show_mini', gallery.galleryname)
  %li= link_to t('galleries.show_long'), gallery_show_style_path('show_long', gallery.galleryname)
  %li= link_to t('galleries.show_photo'), gallery_show_style_path('show', gallery.galleryname)
  