

.galleries--list
  - galleries.each do |g|
    .item
      %h5= link_to g.name, gallery_path(g.galleryname)
      - unless g.photos.length == 0
        = link_to image_tag(g.photos[0].photo.url(:thumb)), g
  - if 0 == galleries.length
    No Galleries
= paginate galleries, :param_name => :galleries_page