
-# Galleries

.galleries
  - @galleries.each do |g|
    .item
      %h3= link_to g.name, g
      - unless g.photos.length == 0
        = link_to image_tag(g.photos[0].photo.url(:thumb)), g
  - if 0 == @galleries.length
    No Galleries
= paginate @galleries, :param_name => :galleries_page

