
- content_for :title do
  = t('galleries.list')

.head-1
  .title
    %h1= t('galleries.list')

.col-1
  = render 'galleries/list', :galleries => @galleries
  - if @galleries.length == 0
    %h5 No Galleries