
- content_for :title do
  = t('galleries.list')

.head-1
  .title
    %h1= t('galleries.list')
.c

= render 'ads/leaderboard'
  
= render 'galleries/list', :galleries => @galleries
- if @galleries.length == 0
  %h5 No Galleries