
.scratchpad
  = form_for @current_user, :url => scratchpad_path do |f|
    %fieldset
      .scratchpad-content
        = f.text_area :scratchpad, :rows => '', :cols => ''
        %br
        = f.submit t('form.submit')
