
.feature-cities
  %h2
    = link_to t('list.cities'), cities_path
  .items
    - feature_cities.each do |city|
      .item
        .wrapper
          = link_to image_tag( city.profile_photo.photo.url(:thumb) ), city_path(city.cityname)
          %h3= link_to city.name, city_path(city.cityname)
  .clear
