
- content_for :title do
  Cities list on Travel-guide.mobi

= javascript_include_tag 'm'

%h1 Cities Index

.left-menu
  
.right-menu
  
.left-container
  .inner
    
.right-container
  .inner

.manager-menu

.manager-region

%script#cities_index-template{ :type => 'text/template' }
  .cities-index
    Cities
    .home-ad

:coffeescript
  a = 'a'