
- content_for :title do
  Cities list on Travel-guide.mobi

= javascript_include_tag 'm'

.left-menu
  
.right-menu
  
.left-container
  .inner
    
.right-container
  .inner

.manager-menu

.manager-region

%script#cities_index-template{ :type => 'text/template' }
  .cities-index
    %h1 Cities Index
    .items
    .home-ad

%script#cities_index_item-template{ :type => 'text/template' }
  .item
    Cities Index Item
    
%script#cities_index_item_trash-template{ :type => 'text/template' }
  .item
    Cities Index Item Trash
    