
- content_for :left_menu do
  &nbsp;

- content_for :right_menu do
  .c
    %ul
      %li= link_to t('cities.list'), cities_path

- content_for :left do
  .all-cities
    .all-cities-2
      #cities_index_canvas
      %ul
        - @cities.each do |city|
          %li
            = link_to city['name_'+@locale.to_s], city_path(city.cityname)
            = render 'cities/meta', :city => city

- content_for :right do
  .a

    = render 'cities/features', :feature_cities => @feature_cities
