
- content_for :title do
  Cities list on Travel-guide.mobi

= javascript_include_tag 'm'

.left-menu
  
.right-menu
  
.left-container
  .inner
    
.right-container
  .inner

.manager-menu

.manager-region

= render 'template/cities'