



.map
  %a{:href => ""} Power Map
  %div
    %img{:alt => "map", :src => "http://www.placehold.it/440x670"}

.main_content
  %ul
    %li
      %a{:href => ""} Reports
    %li
      %a{:href => ""} Galleries
    %li
      %a{:href => ""} Venues
    %li
      %a{:href => ""} Communities
    %li
      %a{:href => ""} Users
    %li
      %a{:href => ""} Events
  #reports
    %ul
      %li
        %a{:href => ""} Name of the Report
        %img{:alt => "photo", :src => "http://www.placehold.it/72x72"}
        %span
          By:
          %a{:href => ""} Username
          on YYYY-MM-DD
        %ul.tags
          %li tag1
          %li tag2
          %li tag3
      %li
        %a{:href => ""} Name of the Report
        %img{:alt => "photo", :src => "http://www.placehold.it/72x72"}
        %span
          By:
          %a{:href => ""} Username
          on YYYY-MM-DD
        %ul.tags
          %li tag1
          %li tag2
          %li tag3
      %li
        %a{:href => ""} Name of the Report
        %img{:alt => "photo", :src => "http://www.placehold.it/72x72"}
        %span
          By:
          %a{:href => ""} Username
          on YYYY-MM-DD
        %ul.tags
          %li tag1
          %li tag2
          %li tag3
      %li
        %a{:href => ""} Name of the Report
        %img{:alt => "photo", :src => "http://www.placehold.it/72x72"}
        %span
          By:
          %a{:href => ""} Username
          on YYYY-MM-DD
        %ul.tags
          %li tag1
          %li tag2
          %li tag3
    %a{:href => ""} Load more
