
%h2 Manager Gallery Show

%ul
  %li= link_to t('list.galleries'), manager_galleries_path

%h3= @gallery.name

.items
  - @gallery.photos.fresh.each do |ph|
    = render 'manager/photos/present', :photo => ph