
%script#manager_galleries_index-template{ :type => 'text/template' }
  .manager-galleries-index
    manager galleries index collection view
    
%script#manager_galleries_index_item-template{ :type => 'text/template' }
  .manager-galleries-index-item
    <a href="<%= url %>"><%= name %></a> (<%= n_photos %>)
    <a href="javascript:void(0);" class="manager-galleries-delete" galleryname="<%= galleryname %>" >[x]</a>
    <br />
    <% _.each( thumb_urls, function( item ) { %>
    <img src="<%= item %>" alt="" />
    <% }) %>
    
%script#trash-template{ :type => 'text/template' }
  .trash
    Trash template