
%script#manager_reports_index-template{ :type => 'text/template' }
  .reports
    manager reports list

%script#manager_reports_index_item-template{ :type => 'text/template' }
  .manager-reports-index-item
    -# photo of the report
    -# = image_tag r.photo.photo.url(:mini)

    -# link to edit
    <a href="<%= edit_path %>">[~]</a>
    
    -# link to view
    <a href="<%= path %>"><%= name %></a>
    
    -# link to expand
    <a href="javascript:void(0)" class="expand-link">&lt;-&gt;</a>
    
    -# link to delete
    -#  .delete= button_to "#{idx+1}. [x]", manager_report_path(r), :method => :delete
      
    -# list of tags
    -#  .tag= r.tag.name unless r.tag.blank?

    -# belongs to this site
    -#  .site= r.site.domain unless r.site.blank?

    .body-content
      <%= descr %>