
%script#manager_reports_index-template{ :type => 'text/template' }
  .reports
    manager reports list

%script#manager_reports_index_item-template{ :type => 'text/template' }
  .item
    manager reports index item
