
.archive-links
  %ul.block
    %li= link_to t('g.home'), root_path
    %li= link_to t('reports.list'), reports_path
    %li= link_to t('galleries.list'), galleries_path
    %li= link_to t('users.list'), users_path
