
.mini-header
  .logo= link_to image_tag('/assets/logos/20x20/ish.gif'), root_path

  %ul.main-menu
    %li= link_to t('g.home'), root_path
    %li= link_to t('tags.list'), tags_path
    %li= link_to t('reports.list'), reports_path
