.privacy-links
  %ul.block
    %li= link_to t('g.privacy'), privacy_path
    %li= link_to t('g.sitemap'), sitemap_path
    %li= link_to t('g.about'), about_path
    %li= link_to t('g.contact'), contact_path
