
.set-locale{ :class => @locale }
  .en= link_to image_tag('flags/en.png'), { :locale => :en }
  .pt= link_to image_tag('flags/pt.png'), { :locale => :pt }
  .ru= link_to image_tag('flags/ru.png'), { :locale => :ru }
  .c