-# manager/newsitems/_list
.newsitems-list
  %ul
    - newsitems.each do |n|
      %li
        = button_to '[x]', manager_site_newsitem_path(@site.id, n.id), :method => :delete, :confirm => 'Are you sure?'
        -# = link_to '[~]', edit_manager_site_newsitem_path(@site.id, n.id)
        = render 'newsitems/item', :newsitem => n

  = paginate newsitems, :param_name => :newsitems_page
  .c
 