
.features-list.row
  - features.map do |feature|
    .span4
      .well
        = render 'features/item', :feature => feature
.row.pull-right
  = link_to 'More Features', sites_features_path(@site.domain)
  






  