
.feature-reports
  %h2= t('reports.list')
  .items
    - reports.each do |feature|
      .item
        %h3= link_to feature[:name], report_path( feature.name_seo )
        .descr
          - unless feature.photo.blank?
            = link_to image_tag( feature.photo.photo.url(:thumb) ), report_path( feature.name_seo )
          = feature[:subhead]
        -# .more= link_to 'Read more...', feature[:link_path]
        .clear
  .clear
