
.main-feature-reports
  - main_feature_reports.each do |feature|
    .item
      .wrapper
        %h2= link_to feature[:name], report_path( feature.name_seo )
        - unless feature.photo.blank?
          = link_to image_tag( feature.photo.photo.url(:small) ), report_path( feature.name_seo )
        .descr
          = feature[:subhead]
        .more= link_to t('g.read_more'), feature[:link_path]
        .clear
  .clear
