
:coffeescript
  $(document).ready ->

    $("#file_upload").uploadify
      uploader: "/assets/uploadify.swf"
      script: "/photos/create-for-gallery/#{ @galleryname }/#{ @username }"
      cancelImg: "/assets/cancel.png"
      auto: true
      multi: true
      onComplete: (a, b, c, d, e) ->
        ###
        if d isnt "1"
          alert(a)
          alert(b)
          alert(c)
          alert(d)
          alert(e) 
        else
          alert(a)
          alert(b)
          alert(c)
          alert(d)
          alert(e)
        ###


.span-12
  %input#file_upload{:name => "file_upload", :type => "file"}

.span-12.last
  %h1
    Gallery #{link_to @gallery[:name], @gallery}
  %ul
    %li= link_to image_new, new_gallery_path
