
@import 'vars'

.Lapplication
  .container
    padding-top: 1em

.container
  width: 896px // $full_width
  margin: auto
  position: relative

.sidebar
  width: 200px
  right: 0
  float: left

.main-content
  margin-left: 220px

  h2
    margin: 0
    padding: 0

  .item
    margin-bottom: 1em

.content
  text-align: center
  margin-top: 1em

  ul
    margin: auto

    li
      list-style-type: none
      display: inline
      position: relative

      p
        width: 400px
        display: inline



.Lblog
  h1
    font-size: 2em
    margin: .5em 0

  h2
    font-size: 1.6em
    margin: .5em 0

  #application__search
    margin-bottom: 1em

  .discussion
    padding: 2em 0