
@import 'vars'
$footer_height: 150px


a.more
  @extend ._rounded_corners
  padding: 4px 12px
  margin: 6px $margin 0
  text-align: center
  display: block
  background: url('/assets/backgrounds/transparent_40.png')

a
  text-decoration: none
  color: #6381be

a:hover
  text-decoration: underline

a:visited
  color: #34569b

.Lapplication
  margin-bottom: 110px

  .container
    position: relative
    min-height: 100%

  .title
    font-weight: bold
    border: 1px solid black
    height: $header_height/2
    margin: $header_height/2 0
    text-align: center
    line-height:  $header_height/2
    
    h1
      padding-top: -$header_height/2
      display: inline
      padding: $margin + 4
      font-size: 1.4em
      border: 1px solid black
      text-align: center
      height: $header_height
      line-height: $header_height/2
      width: auto
  
  .content
    position: relative
    min-height: 100%

  .footer-padding
    height: $main_footer_height + $margin
    display: block

body
  margin: 0
  background: #c7d4de

.pfft
  // background: url('/assets/backgrounds/970_grey-blue.png') center center repeat-y // c7d4de
  

//
// travel/home
//
.home-footer
  height: 50px
  display: block

ul.list
  li
    display: block


.ad-container
  @extend .span-12
  @extend .last



#travel_home

  .feature-users,
  .feature-cities,
    @extend .span-12
    @extend ._feature_list

    .item
      @extend .span-4

    .item:nth-child(3n)
      @extend .last

    .item:nth-child(3n+1)
      clear: left


.features-list
  @extend .span-24

  h3
    margin: $margin/2 auto

  .descr
    margin-top: $margin/2

  .item
    @extend .span-6

    .descr
      text-align: left

  .item:nth-child(4n)
    @extend .last

  .item:nth-child(4n + 1)
    clear: left

.features-list,
.feature-cities,
  img
    min-height: 100px
    min-width: 100px
    @extend ._box
    border: 1px solid gray
    display: block
    margin: 0 auto
    background: url('/assets/missing.png')

#calendar_canvas
  width: 200px
  height: 200px
  background: white
  border: 1px solid white
  display: block
  margin: 0 auto

.right-column
  h3
    margin: $margin/2 auto

.center-column

  .inner
    margin-top: $margin
    background: white
    padding: $margin $margin 300px

    h2
      margin: 0

.events-today
  text-align: center

  ul
    text-align: left

.sponsored
  @extend .small
  color: gray

#cities_profile,
#cities_index,
#venues_index,
#venues_show,

  .Lapplication

    ul.watch
      float: left

    ul.contribute
      float: right

.top-ad
  @extend .center

.share-this
  display: inline-block


